body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ababab;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  padding: 30px;
  font-size: 20px;
}

.link-header {
  display: flex;
}

.link-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.link-header nav ul li {
  margin-right: 15px;
}

.link-header nav ul li:last-child {
  margin-right: 80px;
}

.link-header nav ul li a {
  text-decoration: none;
  color: black;
}

.link-header nav ul li a:hover {
  text-decoration: underline;
  color: blue;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0px;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-text {
  margin-right: 5%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
  margin: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  background-color: #e1e0e0;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  padding: 30px 60px 30px 40px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-normal {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  height: 100px;
  resize: none;
}

.button-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 107.5%;
  margin-top: 10px;
}

.button-submit:hover {
  background-color: #0056b3;
}

.form-container {
  margin-top: 3%;
}

body {
  background-color: rgb(240, 240, 240);
}

.list-container {
  width: 30%;
}

ul#data-list {
  list-style: none;
  padding: 10px;
}

ul#data-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 100%;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item-list li p {
  list-style: none;
  padding: 5px;
}

.item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 300px;
}

.property {
  font-weight: bold;
}

.value {
  margin-top: 5px;
}

.name-price-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
}
